*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.me{
    max-width: 95vw;
    border: 3px solid #8373e6;
    border-radius: 24px;
    padding: 1rem 0;
    margin: 1rem auto;
    display: grid;
    justify-content: center;
    row-gap: 1rem;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    text-align: right;
    gap: 2rem 1rem;
}

input, label, select{
    padding: 0.5rem;
    font-size: 1rem;
}

input, select{
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
input{
    box-shadow:none;
    border-radius: 0px;
}

input:focus{
    box-shadow: 0px 0px 6px 3px #8373e6, 0px 1px 6px 3px #8373e6;
    border-radius: 12px;
}

select{
    width: fit-content;
}

.me button {
    width: max(300px, 80vw);
    color: #ffffff;
    background-color: #8373e6;
    padding: 0.5rem 0;
    margin: auto;
    box-shadow: 0px 5px 0px 0px #695bc0;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    border-radius: 12px;
    outline: none;
    border: none;
  
  }
  
  .me button:hover {
    box-shadow: none;
    cursor: pointer;
    outline: none;
    border: none;
  }

  @media (max-width:400px) {
    *{
        margin: 0;padding: 0;
    }
    .me{
        max-width:  100vw;
        margin: 0;
        border: none;
    }
    .form{
        grid-template-columns: 1fr;
        width: 100%;
        text-align: left;
        gap :0;
    }
 }